---
import ArrowCard from "@components/ArrowCard.astro";
import ContactForm from "@components/ContactForm.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import PersonalityAssesmentCard from "@components/PersonalityAssesmentCard.astro";
import { HOME, SITE, SOCIALS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import { dateRange } from "@lib/utils";
import { getCollection } from "astro:content";

const personalityAssesments = await getCollection("personality-tests");

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate mb-4 text-xl font-semibold text-black dark:text-white">
      Howdy, I'm Walker.
    </h4>
    <div class="space-y-16">
      <section class="flex flex-col gap-4">
        <p class="animate">
          I'm a customer-focused full stack software engineer. I love building
          things, and working with the people who use them. My heart also beats
          fast for learning and applying new technologies, and teaching others!
        </p>
        <p class="animate">
          When I'm not I'm not writing code, I enjoy volunteering, playing
          guitar, pickleball with friends, cooking, and doing stuff with my
          church.
        </p>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h5 class="text-xl font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work"> See all work </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h5 class="text-xl font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h5 class="text-xl font-semibold text-black dark:text-white">
            Personality Assesments
          </h5>
          <p>
            Looking for a certain kind of person? Here are some of the
            personality assesments that I've taken over the last year.
          </p>
        </div>
        <ul class="flex flex-col gap-4">
          {
            personalityAssesments.map((entry) => (
              <li class="mt-4">
                <PersonalityAssesmentCard entry={entry} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="text-xl font-semibold text-black dark:text-white">
          Let's Connect!
        </h5>
        <div>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </div>

        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL, idx) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {idx < SOCIALS.length - 1 ? "/" : ""}
              </li>
            ))
          }
        </ul>

        <ContactForm />
      </section>
    </div>
  </Container>
</PageLayout>
